<ion-app>
  <ion-content class="content" fullscreen padding>
    <ion-slides pager="true">

      <ion-slide>
        <div class="heading">PDFS</div>
        
        <!-- dairycare -->
       
            <ion-item-divider mode="ios" sticky="true" class="divider" >
                <ion-label>
                  Dairy Farming
                </ion-label>
              </ion-item-divider>
            
        <ion-card class="kadi">
          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/teta.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">Dairy Care</div>
                  <div class="card">learn how to take care of your<br> dairy cows and imporve</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="dairycare()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small"
                  href="https://firebasestorage.googleapis.com/v0/b/growit-1d290.appspot.com/o/angularjs_tutorial.pdf?alt=media&token=60b6644e-ade7-4409-be44-4e091d048c4c"
                  shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>

        <!-- diseases -->
        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/heartworm.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">livestock Diseases</div>
                  <div class="card">learn how to curb diseases in<br> dairy improve thier health</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="download()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>
        <!-- business -->
        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/euro.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">Dairy Business</div>
                  <div class="card">did you know you can make<br>a decent living out of dairy farming</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>
          </ion-row>
        </ion-card>

        <ion-item-divider mode="ios" sticky="true" class="divider" >
            <ion-label>
              Maize Farming
            </ion-label>
          </ion-item-divider>
        <!-- maize -->
        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cardsonClick()">
                <img src="assets/img/corn.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">Miaze growing</div>
                  <div class="card">study the ways of planting<br> weeding and harvesting maize</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>

        <!-- potato -->
        <ion-item-divider mode="ios" sticky="true" class="divider" >
            <ion-label>
              Potato Farming
            </ion-label>
          </ion-item-divider>

        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/potato.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">potato growing</div>
                  <div class="card">learn how to take care of your<br> dairy cows and imporve</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>
        <!-- potato care -->
        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/bacteria.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">potato diseases</div>
                  <div class="card">maste the ways of curbing<br>diseases and pests </div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>
        <!-- tea growing -->
        <ion-item-divider mode="ios" sticky="true" class="divider" >
            <ion-label>
              Tea Growing
            </ion-label>
          </ion-item-divider>
        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/sprout.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">tea planting</div>
                  <div class="card">learn how to take care of your<br> dairy cows and imporve</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>

        <!-- tea care -->


        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/agriculture.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">blogs and chats</div>
                  <div class="card">learn how to take care of your<br> dairy cows and imporve</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" (click)="openblog()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>
        
      </ion-slide>
<!-- second slide -->
      <ion-slide>
        <div class="heading">VIDEOS</div>

        <div class="card">
          <ion-card class="video">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/CDs8P839SS4/" allowfullscreen frameborder="0" width="560"
                height="315"></iframe>
            </div>
            <ion-card-content>
              <div class="desc">Secrets to sucess in Dairy Farming(starting a dairy Farm)</div>
              <div class="class">Where there is a will there is a way.Dairy farming can be a successful life changing venture.
                with the right tools, funding and hardwork it is possible.
                  </div>
            </ion-card-content>
          </ion-card>
        </div>

        <div>
          <ion-card class="video">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/5-YtFn9R5B8" allowfullscreen frameborder="0" width="560"
                height="315"></iframe>
            </div>
            <ion-card-content>
              <div class="desc">Controlling pests and diseases</div>
              <div class="class">Livestock Pests and Diseases can cause alot of loss to farmers. However, all these can be controlled
                by the use of right pesticides and conrol methods. </div>
            </ion-card-content>
          </ion-card>
        </div>


        <div>
          <ion-card class="video">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/08knV7P5Cjs" allowfullscreen frameborder="0" width="560"
                height="315"></iframe>
            </div>
            <ion-card-content>
              <div class="desc">Controlling pests and diseases(part 2)</div>
              <div class="class">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. </div>
            </ion-card-content>
          </ion-card>
        </div>

      </ion-slide>

    </ion-slides>

  </ion-content>
</ion-app>