
<ion-content class="content">
  <!-- <div><ion-button float-right  fill="clear" shape="round" (click)="go()" color="dark" ><ion-icon size="medium" class="icon" slot="end"  name="arrow-round-back">

  </ion-icon></ion-button></div> --> <br><br><br> 
  <div class="maandishi">pata ufundisho kuhusu ukulima</div>
 
   <!-- poultry farming card -->
   
     
    <ion-card  class="welcome-card">
      <ion-img src="/assets/img/cock.jpg"></ion-img>
        <ion-card-header>
         <ion-card-subtitle>jifunze mengi kuhusu ufugaji wa kuku ili kuongeza mapato yako</ion-card-subtitle> 
        <ion-card-title text center >poultry farming</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button  expand="block" fill="outline" size="medium" shape="round" >learn/jifunze </ion-button>
      </ion-card-content>   
    </ion-card>
<!-- dairy farming card -->

<ion-card  class="welcome-card">
  <ion-img src="/assets/img/cows.jpg"></ion-img>
    <ion-card-header>
     <ion-card-subtitle>jua kumtunza ngombe wako kwa njia mwafaka</ion-card-subtitle> 
    <ion-card-title>dairy farming</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button  expand="block" fill="outline" size="medium" shape="round">learn/jifunze </ion-button>
  </ion-card-content>   
</ion-card>


     <!-- for cabbage farming -->
     <ion-card  class="welcome-card">
      <ion-img src="/assets/img/cabbage.jpg"></ion-img>
        <ion-card-header>
         <ion-card-subtitle>ongeza pato la shamba lako la mboga</ion-card-subtitle> 
        <ion-card-title>cabbage farming</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" fill="outline" size="medium" shape="round">learn/jifunze </ion-button>
      </ion-card-content>   
    </ion-card>
    <!--potato farming  -->
    <ion-card  class="welcome-card">
      <ion-img src="/assets/img/potato.jpg"></ion-img>
        <ion-card-header>
         <ion-card-subtitle>tumia ujuzi wa kisasa ili kupata pato murua kutokana na kilimo cha viazi</ion-card-subtitle> 
        <ion-card-title>potato farming</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" fill="outline" size="medium" shape="round">learn/jifunze </ion-button>
      </ion-card-content>   
    </ion-card>

<!-- maize farming -->
<ion-card  class="welcome-card">
  <ion-img src="/assets/img/maize.jpg"></ion-img>
    <ion-card-header>
     <ion-card-subtitle>ongeza mazao ya mahindi kwa kufuata mawaidha kutoka kwa wataalam</ion-card-subtitle> 
    <ion-card-title>Maize farming </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button expand="block" fill="outline" size="medium"shape="round">learn/jifunze </ion-button>
  </ion-card-content>   
</ion-card>
             
  

<!-- <ion-tabs> 

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home" color="dark"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="images" color="dark"></ion-icon>
      <ion-label>gallery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="paper-plane" color="dark"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
</ion-content> -->
