.content{
    --background: linear-gradient(180deg, rgba(0, 0, 0, 0.548) 1.48%, rgba(58, 131, 199, 0.63) 12.52%, rgba(235, 148, 113, 0.904) 89.52%), url('../../assets/img/mshamba.jpg') no-repeat center center / cover;
}

.welcome-card{
    background: rgba(255, 255, 255, 0.774);
    border-radius: 5px;
    
}
.background{
    
    background: rgba(236, 233, 233, 0.897);
    position: relative;
    text-align: center;
  }
  .card-stitle{
    position:absolute;
    font-size: 1.5em;
    
    font-family: 'Dancing Script';
    top: 36%;
    width: 100%;
    font-weight: 100%;
    color: azure;
  }
  .card-subtitle{
    font-size: 1.0em;
    align-content: center;
    
    font-style: bold;
    position: absolute;
    top: 52%;
    width: 100%;
    color: aliceblue;
  }
  .header{
      color: black;
      font-family: 'Lucida Sans';
      text-align: left;
      white-space: normal!important;
  }
  .poultry{
    color: black;
    font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 1.3em;
  }
.kuku{
    vertical-align: middle !important;
   
  }