<ion-app>
  <ion-content class="content" fullscreen padding>
    <ion-slides pager="true">

      <ion-slide>
        <div class="heading">PDFS</div>
        
        <!-- dairycare -->
       
            <ion-item-divider mode="ios" sticky="true" class="divider" >
                <ion-label>
                  Dairy Farming
                </ion-label>
              </ion-item-divider>
            
        <ion-card class="kadi">
          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/teta.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">Dairy Care</div>
                  <div class="card">learn how to take care of your<br> dairy cows and imporve</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="dairycare()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small"
                  href="https://firebasestorage.googleapis.com/v0/b/growit-1d290.appspot.com/o/the-life-of-dairy-cows.pdf?alt=media&token=8c543584-c48b-4cc0-943c-9b2c92abe407"
                  shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>

        <!-- diseases -->
        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/heartworm.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">livestock Diseases</div>
                  <div class="card">learn how to curb diseases in<br> dairy improve thier health</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="dairydisase()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" href="https://firebasestorage.googleapis.com/v0/b/growit-1d290.appspot.com/o/Diseases%20of%20Dairy%20Cows.ppt?alt=media&token=40850ad8-d038-41f8-b4d6-664d47d740de" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>
        <!-- business -->
        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/euro.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">Dairy Business</div>
                  <div class="card">did you know you can make<br>a decent living out of dairy farming</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="dairybusiness" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" href="https://firebasestorage.googleapis.com/v0/b/growit-1d290.appspot.com/o/naivasha.pdf?alt=media&token=2fa37ec8-5478-4940-9d03-4e6f282bee3b" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>
          </ion-row>
        </ion-card>

        <ion-item-divider mode="ios" sticky="true" class="divider" >
            <ion-label>
              Maize Farming
            </ion-label>
          </ion-item-divider>
        <!-- maize -->
        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cardsonClick()">
                <img src="assets/img/corn.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">Miaze growing</div>
                  <div class="card">study the ways of planting<br> weeding and harvesting maize</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="maize()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" href="https://firebasestorage.googleapis.com/v0/b/growit-1d290.appspot.com/o/Crops%20Extension%20Pocket%20Hand%20Book-1%20(1).pdf?alt=media&token=df2f429f-9907-4f41-88c2-23b247df728a" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>

        <!-- potatoes -->
        <ion-item-divider mode="ios" sticky="true" class="divider" >
            <ion-label>
              Potato Farming
            </ion-label>
          </ion-item-divider>

        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/potato.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">Potato Farming</div>
                  <div class="card">get introduces to potato farming<br>and improve your skills</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="potato()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" href="https://firebasestorage.googleapis.com/v0/b/growit-1d290.appspot.com/o/Crops%20Extension%20Pocket%20Hand%20Book-1%20(1).pdf?alt=media&token=df2f429f-9907-4f41-88c2-23b247df728a" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>

        <!-- tomato growing -->
        <ion-item-divider mode="ios" sticky="true" class="divider" >
            <ion-label>
              Tomato Farming
            </ion-label>
          </ion-item-divider>
        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/cherry.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">Tomato growing</div>
                  <div class="card">Tomato farming is new <br>and profitables</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="Tomamtogr()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" href="https://firebasestorage.googleapis.com/v0/b/growit-1d290.appspot.com/o/Crop%20Guide_%20Tomato1.pdf?alt=media&token=4c8e3333-c163-498a-a29d-b88633373672" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>

        <!-- tomato care -->


        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/agriculture.svg" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">tomato care</div>
                  <div class="card">tomatoe care dosent have to be<br>quiet a handful</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="tomatocare()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" href="https://firebasestorage.googleapis.com/v0/b/growit-1d290.appspot.com/o/Crop%20Guide_%20How%20to%20Grow%20%26%20Growing%20Tomato2.pdf?alt=media&token=29abbb58-7834-48e8-8d54-18119644898a" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>
        
                

        <!-- tomato nutrition -->
        <ion-card class="kadi">

          <ion-row>
            <ion-col>
              <ion-card class="cards">
                <img src="assets/img/diet.png" />
              </ion-card>

            </ion-col>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  <div class="mafunzo">tomato nutrition</div>
                  <div class="card">healthy tomatoes lead to maximum <br>returns for the farmer</div>
                </ion-col>
              </ion-row>
              <p>
                <ion-button float-right size="small" (click)="nutrition()" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
                  <ion-label>view</ion-label>
                </ion-button>

                <ion-button float-right size="small" href="https://firebasestorage.googleapis.com/v0/b/growit-1d290.appspot.com/o/Crop%20Guide_%20Tomato%20Plant%20Nutritionfrfrf3.pdf?alt=media&token=e44de38b-2e35-4cbd-816f-5331ffec6d23" shape="round" color="light">
                  <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
                  <ion-label>Download</ion-label>
                </ion-button>
              </p>
            </ion-card-content>


          </ion-row>
        </ion-card>


<!-- fruits -->
<ion-item-divider mode="ios" sticky="true" class="divider" >
  <ion-label>
    Fruit farming
  </ion-label>
</ion-item-divider>
<ion-card class="kadi">

  <ion-row>
    <ion-col>
      <ion-card class="cards">
        <img src="assets/img/fruits.png" />
      </ion-card>

    </ion-col>

    <ion-card-content>
      <ion-row>
        <ion-col>
          <div class="mafunzo">Fruit Farming</div>
          <div class="card">healthy tomatoes lead to maximum <br>returns for the farmer</div>
        </ion-col>
      </ion-row>
      <p>
        <ion-button float-right size="small" (click)="fruits()" shape="round" color="light">
          <ion-icon size="medium" slot="start" color="dark" name="ios-eye"></ion-icon>
          <ion-label>view</ion-label>
        </ion-button>

        <ion-button float-right size="small" href="https://firebasestorage.googleapis.com/v0/b/growit-1d290.appspot.com/o/Crops%20Extension%20Pocket%20Hand%20Book-1%20(1).pdf?alt=media&token=df2f429f-9907-4f41-88c2-23b247df728a" shape="round" color="light">
          <ion-icon size="medium" slot="start" color="dark" name="ios-cloud-download"></ion-icon>
          <ion-label>Download</ion-label>
        </ion-button>
      </p>
    </ion-card-content>


  </ion-row>
</ion-card>

      </ion-slide>
<!-- second slide -->
      <ion-slide>
        <div class="heading">VIDEOS</div>

        <ion-item-divider mode="ios" sticky="true" class="divider" >
            <ion-label>
              Dairy Farming
            </ion-label>
          </ion-item-divider>

        <div class="card">
          <ion-card class="video">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/CDs8P839SS4/" allowfullscreen frameborder="0" width="560"
                height="315"></iframe>
            </div>
            <ion-card-content>
              <div class="desc">Secrets to sucess in Dairy Farming(starting a dairy Farm)</div>
              <div class="class">Where there is a will there is a way.Dairy farming can be a successful life changing venture.
                with the right tools, funding and hardwork it is possible.
                  </div>
            </ion-card-content>
          </ion-card>
        </div>

        <div>
          <ion-card class="video">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/5-YtFn9R5B8" allowfullscreen frameborder="0" width="560"
                height="315"></iframe>
            </div>
            <ion-card-content>
              <div class="desc">Controlling pests and diseases</div>
              <div class="class">Livestock Pests and Diseases can cause alot of loss to farmers. However, all these can be controlled
                by the use of right pesticides and conrol methods. </div>
            </ion-card-content>
          </ion-card>
        </div>


        <div>
          <ion-card class="video">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/08knV7P5Cjs" allowfullscreen frameborder="0" width="560"
                height="315"></iframe>
            </div>
            <ion-card-content>
              <div class="desc">Controlling pests and diseases(part 2)</div>
              <div class="class"> The second part of how to control pests and diseases. Learning how to control this nuisance is the
                first step of having a healthy herd and maximizing output</div>
            </ion-card-content>
          </ion-card>
        </div>marques brownlee man cave


        <ion-item-divider mode="ios" sticky="true" class="divider" >
            <ion-label>
              maize Farming
            </ion-label>
          </ion-item-divider>

        <div>
            <ion-card class="video">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/ZRHpYci2Bmk" allowfullscreen frameborder="0" width="560"
                  height="315"></iframe>
              </div>
              <ion-card-content>
                <div class="desc">Controlling pests and diseases(part 2)</div>
                <div class="class"> The second part of how to control pests and diseases. Learning how to control this nuisance is the
                  first step of having a healthy herd and maximizing output</div>
              </ion-card-content>
            </ion-card>
          </div>

          <ion-item-divider mode="ios" sticky="true" class="divider" >
              <ion-label>
               Potato Farming
              </ion-label>
            </ion-item-divider>
  
          <div>
              <ion-card class="video">
                <div class="video-container">
                  <iframe src="https://www.youtube.com/embed/s5Mp7Ca4YAc" allowfullscreen frameborder="0" width="560"
                    height="315"></iframe>
                </div>
                <ion-card-content>
                  <div class="desc">Controlling pests and diseases(part 2)</div>
                  <div class="class"> The second part of how to control pests and diseases. Learning how to control this nuisance is the
                    first step of having a healthy herd and maximizing output</div>
                </ion-card-content>
                <!-- <ion-button size="medium" fill="outline" (click)="playVideoLocal()" ></ion-button> -->
              </ion-card>
            </div>
            
            <ion-card class="width">
    
              
                 
                <ion-card-content></ion-card-content> 
      
             </ion-card> 
      

            
      </ion-slide>

    </ion-slides>

  </ion-content>
</ion-app>