<ion-header >
  <ion-toolbar  >
      <img src="assets/img/mfarm.png" height="50px" width="50px" class="logo"/>
    <ion-button size="large" fill="clear" float-right (click)="presentAlertConfirm()">
     <ion-icon size="medium" class="icons" slot="end"  name="ios-options"></ion-icon> 
    </ion-button>
  </ion-toolbar>
</ion-header>

<!-- @import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap'); -->
  <ion-content class="content" padding  >
      <ion-card class="background">
          <img src="/assets/img/images.png"/>
          <div class="card-stitle">mkulimabunifu</div>
          <div class="card-subtitle">farming should not be a poor man's job but a bridge to prosperity</div>
          
         </ion-card>
    <!-- start of ion card -->
    <!-- <ion-card  class="welcome-card">
      <ion-img src="/assets/img/esoko.jpg"></ion-img>
        <div class="myoverlay">
          <div class="card-title">farming should not be a poor man's job but a bridge to prosperity</div>
        </div>
    </ion-card> -->
    
  <!-- masomo -->
    <ion-card class="kadi">
  
        <ion-row><ion-col><div><ion-card  ><img height="100px" width="300px" src="/assets/img/pdf.svg"/></ion-card></div></ion-col>
        <ion-card-content>
          
          <ion-row>
            <ion-col>
              <div class="mafunzo" text-center>mafunzo</div>
              <div class="card"> jifunze kukuza mimea na mifugo<br> kutumia huduma ya mfarm</div>
            </ion-col></ion-row>
         <div float-right> <ion-button class="col text-right"  size="medium" (click)="go()" shape="round" color="light" > 
                <ion-icon  size="medium" slot="start"  color="dark" name="ios-easel"></ion-icon>
              <ion-label>Mfarm</ion-label></ion-button></div>
        </ion-card-content>
       
       </ion-row>
      </ion-card>
     
 
 

  <!-- goes to esoko -->
  
  <ion-card class=kadi>
  
      <ion-row><ion-col><div><ion-card class="trial" ><img src="/assets/img/shop.svg"/></ion-card></div></ion-col>
      <ion-card-content>
        
        <ion-row>
          <ion-col><div class="mafunzo" text-center>Esoko</div><div class="card">uza na kununua<br> kutumia huduma ya esoko</div></ion-col></ion-row><p>
          <ion-button float-right  size="medium" (click)="goTo()" shape="round" color="light" > 
              <ion-icon  size="medium" slot="start"  color="dark" name="cash"></ion-icon>
            <ion-label>Esoko</ion-label></ion-button></p>
      </ion-card-content>
     
     </ion-row>
    </ion-card>
    
   

<!-- goes to blog -->


  
<ion-card class="kadi">
  
    <ion-row><ion-col>
      <div>
        <ion-card  ><img src="assets/img/message.svg"  class="logo"/></ion-card>
      </div>
    </ion-col>
    <ion-card-content>
      
      <ion-row>
        <ion-col>
          <div class="mafunzo">blogs and chats</div>
       <div class="card">pata mawaidha na maono<br> kutoka kwa wakulima wenzako</div>
        </ion-col>
      </ion-row><p>
        <ion-button float-right  size="medium" (click)="openblog()" shape="round" color="light" > 
            <ion-icon  size="medium" slot="start"  color="danger" name="ios-chatbubbles"></ion-icon>
          <ion-label>blog</ion-label></ion-button></p>
    </ion-card-content>
   
   </ion-row>
  </ion-card>
  
  <!-- communication center -->
  <ion-card class="kadi">
  
      <ion-row><ion-col>
        <div>
          <ion-card  ><img src="assets/img/call.svg"  class="logo"/></ion-card>
        </div>
      </ion-col>
      <ion-card-content>
        
        <ion-row>
          <ion-col>
            <div class="mafunzo">messaging service</div>
         <div class="card">ongea na mtaalamu wa kilimo<br> moja kwa moja</div>
          </ion-col>
        </ion-row><p>
          <ion-button float-right  size="medium" (click)="openContacts()" shape="round" color="light" > 
              <ion-icon  size="medium" slot="start"  color="dark" name="ios-megaphone"></ion-icon>
            <ion-label>contacts</ion-label></ion-button></p>
      </ion-card-content>
     
     </ion-row>
    </ion-card>
    
  

  </ion-content>
