ion-item{
    --background: #ffffff;
    --color: #020202;
}
ion-button{
    --background: #062f77;
}
.content{
    --background: linear-gradient(180deg, rgba(0, 0, 0, 0.98) 1.48%, rgba(10, 62, 110, 0.68) 12.52%, rgb(241, 105, 112) 89.52%),
     url('../../assets/img/mkulima.jpg') no-repeat center center / cover;
}
h3{
    color: #ffffff
}