.content{
  --background: #ffffff url('../../assets/img/coffee.jpg') no-repeat center center / cover;
}
.card-stitle{
    position:absolute;
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 36%;
    width: 100%;
    font-weight: 100%;
    color: azure;
  }
  .card-subtitle{
    font-size: 1.0em;
    font-style: italic;
    position: absolute;
    top: 52%;
    width: 100%;
    color: aliceblue;
  }
  .jj{
    position: absolute;
    right: 10px
  }

.words{
    background: white;
    color: black;
    

}
.cards{
  border-radius: 3px
}

.width{
  
  width: 105%;
  left: -5%;
}
.maandishi{
  color: black;
  font-size: 20px;
}
