form {
    margin-bottom: 32px;
    button {
    margin-top: 20px !important;
    }
    }
    p {
    font-size: 0.8em;
    color: #d2d2d2;
    }
    ion-label {
    margin-left: 5px;
    }
    ion-input {
    padding: 5px;
    }
    .invalid {
    border-bottom: 1px solid #ff6153;
    }
    .error-message {
    min-height: 2.2rem;
    ion-label {
    margin: 2px 0;
    font-size: 60%;
    color: #ff6153;
    }
    .item-inner {
    border-bottom: 0 !important;
    }
    ion-grid {
        height: 100%;
        justify-content: center;
    }
    
    }
    .content{
        --background: linear-gradient(180deg, rgba(0, 0, 0, 0.98) 1.48%, rgba(10, 62, 110, 0.68) 12.52%, rgb(241, 105, 112) 89.52%), url('../../assets/img/mkulima.jpg') no-repeat center center / cover;
    }
    .header{
        color: aliceblue;
        font-size: 25px
    }
