.content{
    --background: #ffffff url('../../assets/img/coffee.jpg') no-repeat center center / cover;
}


.message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }
   
  .my-message {
    background: rgba(3, 101, 248, 0.829);
    color: #fff;
  }
   
  .other-message {
    background: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
  }
   
  .time {
    color: #000000;
    float: right;
    font-size: small;
  }
   
  .message-input {
    margin-top: 0px;
    border: 1px solid ;
    border-radius: 10px;
    background: #fff;
    border-color: red($color: #f70a0a9c)
  }
   
  .msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }