

<ion-content class="content"  >
  <ion-grid fixed>
    <ion-row>
      <ion-col text-center >
   <img src="assets/img/mfarm.png" class="logo"/> 
   <div class="margin-top" >Growing with you</div>
   </ion-col></ion-row>
  </ion-grid>
<h1></h1>

 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ion-grid fixed>
  <ion-row>
    <!-- signup -->
    <ion-col size="6"><ion-button (click)="go()" expand="block" shape="round"   color="success">
      <ion-icon  name="person-add"></ion-icon>signup</ion-button></ion-col>
      <!-- login -->
    <ion-col size="6"> <ion-button (click)="goTo()" expand="block" shape="round"  color="success" >
      <ion-icon  name="arrow-round-forward"></ion-icon>Login</ion-button></ion-col>
  </ion-row>
</ion-grid>
      

</ion-content>

