
.mafunzo{
    font-style: initial;
    font-family: 'Segoe UI';
    color: rgb(3, 3, 3);
}
.contents{
     --background: url('../../assets/img/coffee.jpg') no-repeat center center / cover;
}
.cards{
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.747)
}
.camera{
width: 200px;
height: 200px;
margin: 0 auto;
background: black;
border-radius: 5px;
}
.filebtn{
    opacity: 0;
    position: absolute;
    top: -100em;
    left: -100em;
}